Gse.WebService.Demo/Service References/EmpresaServiceReference/Gse.WebService.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Gse.WebService.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gse.WebService.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfEmpresaData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpresaData" nillable="true" type="tns:EmpresaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresaData" nillable="true" type="tns:ArrayOfEmpresaData" />
  <xs:complexType name="EmpresaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cif" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaBaja" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioId" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpresaData" nillable="true" type="tns:EmpresaData" />
</xs:schema>