Gse.WebService.Demo/Service References/EmpresaServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmpresaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Gse.WebService.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpresaService_GetAllEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmpresa" />
  </wsdl:message>
  <wsdl:message name="IEmpresaService_GetAllEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresaService_GetEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpresa" />
  </wsdl:message>
  <wsdl:message name="IEmpresaService_GetEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresaService_AddEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmpresa" />
  </wsdl:message>
  <wsdl:message name="IEmpresaService_AddEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresaService_DeleteEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpresa" />
  </wsdl:message>
  <wsdl:message name="IEmpresaService_DeleteEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpresaResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpresaService">
    <wsdl:operation name="GetAllEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresaService/GetAllEmpresa" message="tns:IEmpresaService_GetAllEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresaService/GetAllEmpresaResponse" message="tns:IEmpresaService_GetAllEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresaService/GetEmpresa" message="tns:IEmpresaService_GetEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresaService/GetEmpresaResponse" message="tns:IEmpresaService_GetEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresaService/AddEmpresa" message="tns:IEmpresaService_AddEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresaService/AddEmpresaResponse" message="tns:IEmpresaService_AddEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresaService/DeleteEmpresa" message="tns:IEmpresaService_DeleteEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresaService/DeleteEmpresaResponse" message="tns:IEmpresaService_DeleteEmpresa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpresaService" type="tns:IEmpresaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEmpresa">
      <soap:operation soapAction="http://tempuri.org/IEmpresaService/GetAllEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpresa">
      <soap:operation soapAction="http://tempuri.org/IEmpresaService/GetEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmpresa">
      <soap:operation soapAction="http://tempuri.org/IEmpresaService/AddEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmpresa">
      <soap:operation soapAction="http://tempuri.org/IEmpresaService/DeleteEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmpresaService">
    <wsdl:port name="BasicHttpBinding_IEmpresaService" binding="tns:BasicHttpBinding_IEmpresaService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Gse.Empresas.ServicioWeb/EmpresaService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>